.topnav {
    background-color: rgb(255, 245, 180);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: rgb(50, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: black;
    color : tan;
}

.topnav a.active {
    background-color: coral ;
    color: black;
}