.topnav {
    background-color: rgb(188, 26, 26);;
    overflow: hidden ;
}

.topnavv a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(255, 180, 180);
    color : lightblue;
}

.topnav a.active {
    background-color: coral ;
    color: white;
}